#trocarftmodal {
    width: 435px;
    border: 2px solid #6c757d;
}

#formEditar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#formEditar input {
    height: 40px;
    color: #212529;
    border: 2px solid #6c757d;
    width: 330px;
    margin: 7px 0px;
}

#formEditar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 427px;
}

#erroEdit {
    display: none;
    color: #d94848;
    font-size: 16px;
    font-weight: 200;
}
